In [8]:
import pandas as pd
from datetime import datetime

In [2]:
Comps_s = ["MSFT", "AAPL", "NVDA", "AVGO", 
        #  "BRK-B", "JPM",
         "LLY", "UNH", "AMZN", "GE", "GOOG", "WMT", "XOM", "LIN",]

In [3]:
t = []
for i in range(len(Comps_s)):
    t.append(pd.read_csv(f'../data/sentiment_scores/{Comps_s[i]}.csv'))
    t[i]['Unnamed: 0']=Comps_s[i]

In [4]:
sentiment_scores = t[0]
for i in range(1,len(Comps_s)):
    sentiment_scores = pd.concat([sentiment_scores,t[i]],axis = 0)
sentiment_scores

    Unnamed: 0             time    scores
0         MSFT  20220301T203854  0.031452
1         MSFT  20220302T030642 -0.145930
2         MSFT  20220302T080000 -0.520567
3         MSFT  20220302T080000 -0.162332
4         MSFT  20220302T093019 -0.093892
..         ...              ...       ...
641        LIN  20240327T113800  0.296809
642        LIN  20240327T131333  0.228489
643        LIN  20240328T080000  0.351409
644        LIN  20240328T201500  0.370743
645        LIN  20240329T133011  0.273581

[14196 rows x 3 columns]

In [5]:
sentiment_scores.rename(columns={'Unnamed: 0':'Symbol','time':'Date','scores':'Sentiment_scores'},inplace = True)

In [6]:
sentiment_scores

    Symbol             Date  Sentiment_scores
0     MSFT  20220301T203854          0.031452
1     MSFT  20220302T030642         -0.145930
2     MSFT  20220302T080000         -0.520567
3     MSFT  20220302T080000         -0.162332
4     MSFT  20220302T093019         -0.093892
..     ...              ...               ...
641    LIN  20240327T113800          0.296809
642    LIN  20240327T131333          0.228489
643    LIN  20240328T080000          0.351409
644    LIN  20240328T201500          0.370743
645    LIN  20240329T133011          0.273581

[14196 rows x 3 columns]

In [9]:
sentiment_scores['Date']=sentiment_scores['Date'].apply(lambda x: datetime.strptime(x[:8], "%Y%m%d").strftime("%Y-%m-%d"))

In [10]:
sentiment_scores_daily = sentiment_scores.groupby(by = ['Symbol','Date'])[['Sentiment_scores']].mean().reset_index()

In [11]:
sentiment_scores_daily

     Symbol        Date  Sentiment_scores
0      AAPL  2022-03-01         -0.277460
1      AAPL  2022-03-02         -0.361074
2      AAPL  2022-03-03         -0.116183
3      AAPL  2022-03-04          0.041050
4      AAPL  2022-03-05         -0.140115
...     ...         ...               ...
1961    XOM  2024-03-07          0.183539
1962    XOM  2024-03-08          0.188351
1963    XOM  2024-03-09          0.234499
1964    XOM  2024-03-10          0.290680
1965    XOM  2024-03-11          0.267820

[1966 rows x 3 columns]

In [12]:
sentiment_scores_daily.to_csv('../data/sentiment_scores/sentiment_scores_daily.csv')